body{
    background: url('./images/background.png');
}
h1{
    text-align: center;
}
.NavBar{
    display: flex;
    flex-direction: column;
}
.navigationBar{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
    gap:30px;
}
.navigationBar p{
    font-size: 24px;
 
}
.navigationBar p a{
    text-decoration: none;
    color:darkblue
}
.showCase{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
    
}
.showCase p{
    font-size: 20px;


}
.myfavoriteperson{
    height: 40px;
    border-radius: 15px;
    color:darkslategray;
    font-weight: bold;
    box-shadow: 10px 10px 5px ;
    width:20%
}
.MyFavorite{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.MyFavoriteTable{
    border: 2px solid whitesmoke;
    width: 600px;
    height: 100px;
}
.MyFavoriteTableGrid{
    border-bottom:2px dashed white;
    /* text-align: center; */
}
#MFTgrid{
    text-align: center; 
    font-family: fantasy;
    font-weight: bold;
}